@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


.has-roboto {
    font-family: 'Roboto', sans-serif;
}

.telegram {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-image: url("../img/telegram.png");
}

a text:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }