<!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-dark px-lg-5">
                <div class="col-lg-9">
                        <nav class="navbar navbar-expand-sm bg-dark p-0">
                                <ul class="navbar-nav ml-n2">
                                        {% if not session %}
                                        <li class="nav-item">
                                                <a class="nav-link text-body small" href="/log-in">Log in</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link text-body small" href="/sign-up">Sign up</a>
                                        </li>
                                        {% else %}
                                        <li class="nav-item">
                                                <span class="nav-link text-body small">{{ session["username"] }}</span>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link text-body small" href="/log-out">Log out</a>
                                        </li>
                                                {% if "canManageAllComments" in permissions %}
                                                        <li class="nav-item">
                                                                <a class="nav-link text-body small" href="/admin">Admin</a>
                                                        </li>
                                                {% endif %}
                                        {% endif %}
                                </ul>
                        </nav>
                </div>
                <div class="col-lg-3 text-right d-none d-md-block">
                        <nav class="navbar navbar-expand-sm bg-dark p-0">
                                <ul class="navbar-nav ml-auto mr-n2">
                                        <li class="nav-item">
                                                <a class="nav-link text-body" href="https://github.com/vidnik"><small class="fab fa-github"></small></a>
                                        </li>
                                </ul>
                        </nav>
                </div>
        </div>
        <div class="row align-items-center bg-white py-3 px-lg-5">
                <div class="col-lg-4">
                        <a href="/" class="navbar-brand p-0 d-none d-lg-block">
                                <h1 class="m-0 display-4 text-uppercase text-primary">News <span class="text-secondary font-weight-normal">website</span></h1>
                        </a>
                </div>
        </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
                <a href="/" class="navbar-brand d-block d-lg-none">
                        <h1 class="m-0 display-4 text-uppercase text-primary">News<span class="text-white font-weight-normal">website</span></h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                                <a href="/" class="nav-item nav-link active">Home</a>
                                <a href="/about" class="nav-item nav-link">About us</a>
                                <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                                        <div class="dropdown-menu rounded-0 m-0">
                                                {% for category in categories %}
                                                <a href="/category?name={{ category.slug }}" class="dropdown-item">{{ category.name }}</a>
                                                {% endfor %}
                                        </div>
                                </div>
                                <a href="/recent" class="nav-item nav-link">Recent news</a>

                        </div>
                        <form action="/search" method ="post" enctype="multipart/form-data">
                        <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                                <input type="text" class="form-control border-0" id="query" name="query" placeholder="Keyword">
                                <div class="input-group-append">
                                        <button type="submit" class="input-group-text bg-primary text-dark border-0 px-3">
                                                <i class="fa fa-search"></i>
                                        </button>
                                </div>
                        </div>
                        </form>
                </div>
        </nav>
</div>
<!-- Navbar End -->
